<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.world_skils_test" >

    <uses-permission
        android:name= "android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bankomat_list_activity">

        </activity>
        <activity android:name=".valuet_list_activity">

        </activity>
        <activity android:name=".App">

        </activity>
        <activity android:name=".test_auth.auth_class">

        </activity>
        <activity android:name=".main_class">

        </activity>
        <activity android:name=".setting_class">

        </activity>
        <activity android:name=".swip_pswrd_class">

        </activity>
        <activity android:name=".swp_log_class">

        </activity>
        <activity android:name=".about_app_class">

        </activity>
        <meta-data
        android:name = "com.google.android.geo.API_KEY"
        android:value="AIzaSyA9aL8BMx10bJZQY5k61_t18i-mL1S41r4"/>
    </application>

</manifest>